extends layout

block content
    p User: #{user.username} Id: #{user.id}
    div.row
        .col-lg.text-center
            div(id="board" style="width:500px;padding-top:50px; margin:auto; min-width: 200px;")

            form(class="lobby-play" method="POST" action="/lobby")
                    #error
                        if error
                            p.text-danger Error!!!
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    hr
                    a(class=buttonClass href="/lobby") Return to Lobby
        .col-lg
        section.section.chat-container
            .container
                .columns
                    .box.column.is-8.is-offset-2
                    h2.title Chat box
                    div(class="chatbox")
                        .chat-messages.has-text-left
                            ul#messages
                        form(id='chat-form')
                            .field.has-addons
                                input(id='room_id', type='hidden', value=1)
                                input(id='name', type='hidden', value=user.username)
                                p.control.is-expanded
                                    input(id='message' type='text' class='input' placeholder='Message')
                                p.control
                                    input(type='submit' class='button is-success' value='Send')
                    br

        script(src='/scripts/chat.js')
                
                