extends layout

block content
  h1 Landing Page
  ul
    li 
      a(href="/users/login") Login Page
    li 
      a(href="/users/signup") Signup Page
    li 
      a(href="/lobby") Lobby Page
    li 
      a(href="/game") Game Page
