body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #222831;
  font-family: 'Roboto', sans-serif;
  color: white;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: .375rem .75rem;
  margin: auto;
  color: white;
  margin-top: 10%;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: .375rem .75rem;
  font-size: 16px;
  border-radius: 20px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 1rem;
 
}
.form-signin input[type="password"] {
  margin-bottom: 1rem;

}

.btn {
  padding: .2rem;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: #f2a365;
  border-color: #f2a365;
  border-radius: 20px;
}


.btn-primary:hover {
  background-color: #30475e;
  border-color: #30475e;
  margin-top: 1rem;

}

a {
  color: #00B7FF;
}

h6 {
  padding-top: 5%;
}

hr {
  background-color: #ececec;
}