extends gamelayout

block content
    div.row
        .col-lg.text-center
            //-Board alterable via board.js
            h2.text-center Chess
            p.text-center by Anna, Chunzheng, Kevin, Turmunkh
            hr(style="width:50%;")
            div(id="board" style="width:500px; margin:auto;")


            form(class="lobby-play" method="GET" action="/lobby")
                    #error
                        if error
                            p.text-danger Error!!!
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    hr
                    button(class=buttonClass type="") Return To Lobby
            
        //-Chat column
        .col-lg
            section.section.chat-container
                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1(class=h1Classes) Chat box
                div(class="chatbox")
                    .chat-messages.has-text-left
                        ul#messages
                br
                form(id='chat-form' class = 'sendMsg')
                    .field.has-addons
                        p.control.is-expanded
                            input(id='message' type='text' class='form-control' placeholder='Send a Message')
                        p.control
                            input(type='submit' value='Send')
                br
                
                