extends layout

block content
    h1.text-center Chess
    p.text-center by Anna, Chunzheng, Kevin, Turmunkh
    hr(style="width:25%;")
    div.row.text-center
        .row-lg
            div
                <img src="\images\chesspieces\wikipedia\wK.png" alt="WhiteKing" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\wQ.png" alt="WhiteQueen" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\wN.png" alt="WhiteKnight" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\wR.png" alt="WhiteRook" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\wB.png" alt="WhiteBishop" style="width:10vh">
        .col-lg
            form(class="form-signin" method="POST" action="/users/login")
                #error
                    if error
                        p.text-danger Error!!!

                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1(class=h1Classes) Sign In

                //-input username
                label( for="inputEmail" class="sr-only") Email address
                input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus)

                //-input password
                label(for="inputPassword" class="sr-only") Password
                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

                //-signIn button
                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                button(class=buttonClass type="submit") Sign in
                hr
                //-create acount
                h6(class=h1Classes) New User?

                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                button(class=buttonClass type="submit") Create an Account

                br
        .row-lg
            div
                <img src="\images\chesspieces\wikipedia\bK.png" alt="BlackKing" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\bQ.png" alt="BlackQueen" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\bN.png" alt="BlackKnight" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\bR.png" alt="BlackRook" style="width:10vh">
            div
                <img src="\images\chesspieces\wikipedia\bB.png" alt="BlackBishop" style="width:10vh">
